<nav>
    <div class="nav-wrapper">
        <i class="fas fa-book-reader" style="padding-left: 8px;"></i>
        <a href="/stories" class="brand-logo" style="padding-left: 5px;">Storybooks</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/stories">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/stories">Public Stories</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>